@using System.Collections.Generic;
@using Xamarin.Forms;
@model List<FormsPrint.Models.PrintModel>

<html lang="en">
<head>
	<!-- iOS - needs to reside in the "Resources" directory and have build action of "BundleResource" -->
	<!-- Droid - needs to reside in "Assets" directory and have build action of "AndroidAsset" -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="@(DependencyService.Get<FormsPrint.IPrintService>().Get())">
	<style>
		div {
			-webkit-user-select: none; /* Safari 3.1+ */
			-moz-user-select: none; /* Firefox 2+ */
			-ms-user-select: none; /* IE 10+ */
			user-select: none; /* Standard syntax */
			cursor: default;
		}
	</style>
</head>
<body>

	<div class="container-fluid">
		<br />
		<div class="border border-dashed p-2">
			<h3 class="text-gray-dark" style="user-select:none;">
				Xamarin Forms Print!
			</h3>
			<p class="text-gray"  style="user-select:none;">
				Even works using the CSS frameworks like Primer!
			</p>
		</div>
		<br />

		<div class="table-responsive">
			<table class="table table-bordered table-sm">
				<thead class="thead-light">
					<tr>
						<th scope="col">#</th>
						<th scope="col">ModelName</th>
						<th scope="col">ModelDescription</th>
						<th scope="col">ModelDescription1</th>
						<th scope="col">ModelDescription2</th>
						<th scope="col">ModelDescription3</th>
						<th scope="col">ModelDescription4</th>
						<th scope="col">ModelDescription5</th>
						<th scope="col">ModelDescription6</th>
						<th scope="col">ModelDescription7</th>
						<th scope="col">ModelDescription8</th>
						<th scope="col">ModelDescription10</th>
						<th scope="col">ModelDescription11</th>
						<th scope="col">ModelDescription12</th>
						<th scope="col">ModelDescription13</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@(Model.IndexOf(item) + 1)
							</td>
							<td>
								@item.ModelName
							</td>
							<td>
								@item.ModelDescription
							</td>
							<td>
								@item.ModelDescription1
							</td>
							<td>
								@item.ModelDescription2
							</td>
							<td>
								@item.ModelDescription3
							</td>
							<td>
								@item.ModelDescription4
							</td>
							<td>
								@item.ModelDescription5
							</td>
							<td>
								@item.ModelDescription6
							</td>
							<td>
								@item.ModelDescription7
							</td>
							<td>
								@item.ModelDescription8
							</td>
							<td>
								@item.ModelDescription9
							</td>
							<td>
								@item.ModelDescription10
							</td>
							<td>
								@item.ModelDescription11
							</td>
							<td>
								@item.ModelDescription12
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>